<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="col-md-6 col-xs-12">
      <strong>Full Name:</strong> <%= @city.name %>
    </div>
    <div class="col-md-6 col-xs-12">
      <strong>Short Name:</strong> <%= @city.short_name %>
    </div>
  </div>
</div>